<suite name="Smoke Suite" verbose="1" >
    <test name="Login tests">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
    <test name="Signup tests">
        <classes>
            <class name="tests.SignUpTest"/>
        </classes>
    </test>
    <test name="Admin cities tests">
        <classes>
            <class name="tests.AdminCitiesTest"/>
        </classes>
    </test>
    <test name="Auth Routes tests">
        <classes>
            <class name="tests.AuthRoutesTests"/>
        </classes>
    </test>
    <test name="Locale tests">
        <classes>
            <class name="tests.LocaleTests"/>
        </classes>
    </test>
    <test name="Profile tests">
        <classes>
            <class name="tests.ProfileTests"/>
        </classes>
    </test>
</suite>